.logo {
	width: 35px;
	position: absolute;
	bottom: 0px;
}
.headingStyle {
	position: absolute;
	bottom: 0px;
  left: 45px !important;
}
.header {
	display: inline-flex;
  position: relative;
}
.parkButton {
	margin-top: 20px;
}
